In [2]:
# Se importan las librer√≠as necesarias para realizar la limpieza y entrenamientos de modelo seleccionado. 
# En este caso HistGradientBoostingRegressor 

import pandas as pd
import numpy as np
import requests
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,explained_variance_score

In [3]:
train_dataset = pd.read_csv('./train.csv', index_col=0)

In [4]:
predict_dataset = pd.read_csv('./predict.csv', index_col=0)

In [5]:
train_dataset.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    1.12    Premium     H     SI1   61.6   59.0  6.67  6.63  4.10   5363
1    1.14  Very Good     E     SI2   60.0   54.0  6.74  6.97  4.11   5593
2    0.90  Very Good     D     SI2   60.3   63.0  6.12  6.22  3.72   3534
3    0.71      Ideal     E     VS1   61.9   54.0  5.74  5.76  3.56   3212
4    0.34  Very Good     F     SI2   60.0   62.0  4.51  4.55  2.72    447

In [6]:
train_dataset.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [7]:
#train_dataset.cut.value_counts()

In [8]:
#train_dataset.color.value_counts()

In [9]:
#train_dataset.clarity.value_counts()

In [10]:
#train_dataset.isna().sum()

In [11]:
le = preprocessing.LabelEncoder()
def num_transform(datasets,columns):
    for ds in datasets:
        for column in columns:
            ds[f"{column}_num"] = le.fit_transform(ds[column])
datasets = [train_dataset]
columns = ["cut","color","clarity"]
num_transform(datasets,columns)

In [12]:
train_dataset.head()

,carat,cut,color,clarity,depth,table,x,y,z,price,cut_num,color_num,clarity_num
id,,,,,,,,,,,,,
0,1.12,Premium,H,SI1,61.6,59.0,6.67,6.63,4.10,5363,3,4,2
1,1.14,Very Good,E,SI2,60.0,54.0,6.74,6.97,4.11,5593,4,1,3
2,0.90,Very Good,D,SI2,60.3,63.0,6.12,6.22,3.72,3534,4,0,3
3,0.71,Ideal,E,VS1,61.9,54.0,5.74,5.76,3.56,3212,2,1,4
4,0.34,Very Good,F,SI2,60.0,62.0,4.51,4.55,2.72,447,4,2,3

In [13]:
columnas = [a for a in train_dataset.columns if a not in ["cut","color","clarity","price"]]
X = train_dataset[columnas]
y = train_dataset["price"]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32364, 9) (8091, 9) (32364,) (8091,)

In [23]:
model_select = DecisionTreeRegressor()
model = model_select.fit(X_train, y_train)
scores = cross_val_score(model,X,y, cv=20)
print(np.mean(scores))

0.9633156525631341

In [24]:
predict_dataset.head()

    carat        cut color clarity  depth  table     x     y     z
id
0    0.33  Very Good     I      IF   62.0   58.0  4.44  4.46  2.76
1    1.21  Very Good     D     SI2   62.4   58.0  6.77  6.83  4.24
2    1.06  Very Good     D     SI1   59.3   60.0  6.64  6.71  3.96
3    0.36      Ideal     E    VVS1   61.4   57.0  4.64  4.61  2.54
4    0.70      Ideal     E     VS1   62.3   54.0  5.67  5.72  3.55